body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

header {
  /* ჰედერი*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  margin-right: 16px;
  margin-left: 16px;
}

.get-started {
  /* დივი სადაც მოთავსებულია get started  ტექსტი - ჰედერში*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: #13183f;
  border-radius: 28px;
  width: 140px;
  height: 56px;
}

.text1 {
  color: white; /*ჰედერის ტექსტი*/
  font-family: "Plus Jakarta Sans", sans-serif;
}

.skilled{
  margin-left: 16px;
}

.get-started{
  margin-right: 16px;
}
/* section ნაწილი*/

section {
  margin-top: 40px;
  padding-left: 120px;
  padding-right: 60px;
  margin-right: 16px;
  margin-left: 16px;
}
.marcxena {
  width: 343px;
  margin-right: 16px;
  margin-left: 16px;
}
.marcxena-h1 {
  /* section-ის ზედა ნაწილის სათაური*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  color: #13183f;
  margin-left: 16px;
}
.marcxena-p {
  /* section-ის ზედა ნაწილის სათაურის ქვეშა ტექსტი*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #83869a;
  margin-left: 16px;
}
.marcxena-bolo {
  /* section-ის ზედა ნაწილის ბოლო დივი get started*/
  width: 167px;
  height: 63px;
  border-radius: 31.5px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.marcxena-p2 {
  /* section-ის ზედა ნაწილის ბოლო დივში მოთავსებული ტექსტი get started*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.gogo-mobile {
  /* გოგოს სურათი*/
  display: block;
  margin-right: 25px;
  margin-left: 16px;
}
.gogo-desktop {
  display: none;
}

.reklamtext {
  /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივი*/
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  width: 286px;
  height: 120px;
  padding-top: 24px;
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 32px;
  margin-right: 16px;
  margin-left: 25px;
}
.h1-reklamtext {
  /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივში შემავალი ტექსი*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.yuti {
  /*ეს დივი გამოდგება 5 ცალი ყუთისთვის*/

  margin-top: 35px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 32px;
  position: relative;
  margin-right: 76px;
  margin-left: 16px;
}

.icon-logo {
  /* position: absolute; */
  transform: translate(-9px, -24px);
}
.h1-saerto {
  /* ეს გამოდგება 5 ყუთის დასათაურებლად*/

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
  width: 101px;
  height: 25px;
}

.p-qvedateqstebi {
  /* ეს გამოდგება ყველა ქვედა ტექსტისთვის*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  width: 286px;
}
.h2-getstarted {
  /*ეს გამოდგება პირველის გარდა ყველა დანარჩენი get started-თვის*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #f74780;
  width: 104px;
  height: 28px;
}

/*footer  ნაწილი*/
footer {
  background: #13183f;
  width: 375px;
  height: 120px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 16px;
  margin-left: 16px;
}
.footer-div {
  /*footer-ის დივი*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;

  width: 375px;
}

.get-started-footer {
  /*get started დივი*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  width: 140px;
  height: 48px;
}

.h1-footer {
  /*skilled ტექსტი*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

/*მედიაქუერით გავსტილოთ დესკტოპ ვერსიისთვის 720 პიქსელი და მეტი*/

@media (min-width: 720px) {
  header {
    /* ჰედერი*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
  }
  .get-started:hover {
    /*ჰდერში get started დივმა შეიცვალოს ფერი*/
    cursor: pointer;
    background: #666ca3;
  }

  section {
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 16px;
    width: 1024px;
  }
  .marcxena {
    width: 457px;
  }

  .marcxena-bolo:hover {
    cursor: pointer;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }
  .marcxena-h1 {
    /* section-ის ზედა ნაწილის სათაური*/
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    width: 182%;
    color: #13183f;
  }
  .marcxena-p {
    /* section-ის ზედა ნაწილის სათაურის ქვეშა ტექსტი*/
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #83869a;
  }

  .gogo-mobile {
    display: none;
  }
  .gogo-desktop {
    display: block;
    position: relative;
  }

  .desktop1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  .desktop2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    width: 1086px;
  }
  .h2-getstarted:hover {
    cursor: pointer;
    color: #ffa7c3;
  }
  .desktop3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  .yuti {
    height: 322px;

    margin: 10px;
  }
  .reklamtext {
    /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივი*/
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

    border-radius: 10px;
    padding-left: 28px;
    padding-right: 29px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 296px;
    margin: 10px;
    width: 286px;
    /* flex-grow: 1; */
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-div {
    /*footer-ის დივი*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
  .h1-footer {
    margin-left: 120px;
  }
  .get-started-footer:hover {
    cursor: pointer;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  }
}
