body {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

header {
  /* ჰედერი*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.get-started {
  /* დივი სადაც მოთავსებულია get started  ტექსტი - ჰედერში*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: #13183f;
  border-radius: 28px;
  width: 140px;
  height: 56px;
}

.text1 {
  color: white; /*ჰედერის ტექსტი*/
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* section ნაწილი*/

section {
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 16px;
}
.marcxena {
  /*section ნაწილის ზედა ნაწილის დივი  შედის 3 ელემენტი*/

  width: 343px;
}

.marcxena-h1 {
  /* section-ის ზედა ნაწილის სათაური*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  color: #13183f;
}
.marcxena-p {
  /* section-ის ზედა ნაწილის სათაურის ქვეშა ტექსტი*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #83869a;
}
.marcxena-bolo {
  /* section-ის ზედა ნაწილის ბოლო დივი get started*/
  width: 167px;
  height: 63px;
  border-radius: 31.5px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.marcxena-p2 {
  /* section-ის ზედა ნაწილის ბოლო დივში მოთავსებული ტექსტი get started*/
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.gogo-mobile {
  display: block;
}
.gogo-desktop {
  display: none;
}

.reklamtext {
  /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივი*/
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  width: 286px;
  height: 120px;
  padding-top: 24px;
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 32px;
}
.h1-reklamtext {
  /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივში შემავალი ტექსი*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.yuti {
  /*ეს დივი გამოდგება 5 ცალი ყუთისთვის*/

  margin-top: 35px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 32px;
  position: relative;
}

.icon-logo {
  /* position: absolute; */
  transform: translate(-9px, -24px);
}
.h1-saerto {
  /* ეს h1 5 ცალი ყუთის h1-თვის*/

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
  width: 101px;
  height: 25px;
}
.h1-animation {
  /*ანიმაციის სათაური*/

  width: 101px;
}
.p-qvedateqstebi {
  /* ეს გამოდგება ყველა ქვედა ტექსტისთვის*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  width: 286px;
}
.h2-getstarted {
  /*ეს გამოდგება პირველის გარდა ყველა დანარჩენი get started-თვის*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #f74780;
  width: 104px;
  height: 28px;
}

.h1-design {
  /* design სათაური*/
  width: 68px;
}

.h1-photography {
  /*ptotography სათაური*/

  width: 129px;
}

.h1-crypto {
  /*crypto-ს სათაურო*/

  width: 70px;
}

.h1-business {
  /*business სათაური*/
  width: 87px;
}

/*footer  ნაწილი*/
footer {
  background: #13183f;
  width: 375px;
  height: 120px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.get-started-footer {
  /*get started დივი*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  width: 140px;
  height: 48px;
}

.h1-footer {
  /*skilled ტექსტი*/
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

/*მედიაქუერით გავსტილოთ დესკტოპ ვერსიისთვის 720 პიქსელი და მეტი*/

@media (min-width: 720px) {
  header {
    /* ჰედერი*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1540px;
    
  }

  .marcxena {
    /*section ნაწილის ზედა ნაწილის დივი  შედის 3 ელემენტი*/

    width: 457px;
  }
  .gogo-mobile {
    display: none;
  }
  .gogo-desktop {
    display: block;
    position: relative;
  }

  .desktop1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 20px;
  }

  .desktop2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }
  .desktop3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  .yuti {
    height: 322px;
    flex-grow: 1;
    margin: 10px;
  }
  .reklamtext {
    /*  გოგოს სურათის ქვეშა სარეკლამო ტექსის დივი*/
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

    border-radius: 10px;
    padding-left: 28px;
    padding-right: 29px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 296px;
    margin: 10px;
  }
  footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
  }
}
